.Conferences {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 800px) {
  .Conferences {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .Conferences {
    justify-content: center;
    grid-template-columns: 1fr;
  }
}
